.main {
    width: 20vw;
    margin: auto;
    margin-top: 150px;
    padding: 35px 60px;
    border-radius: 45px;
    background-color: darkgrey;
}

input {
    width: 100%;
    border-radius: 15px;
}

input.ng-invalid {
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}

.error {
    color: red;
}

button {
    margin: 10px;
    border-radius: 25px;
}